body {
    font-family: sans-serif;
    background: #cccccc;
    background: linear-gradient(90deg, rgba(204, 204, 204, 1) 0%, rgba(126, 126, 242, 1) 46%, rgba(0, 212, 255, 1) 100%);
}
header {
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-button {
    border: 5px solid red;
    border-radius: 15px;
    background-color: lightgreen;
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    transition: all 0.3s ease;
}

.nav-button:hover {
    border: 5px solid white;
    color: white;
    cursor: pointer;
}
.buttons {
    display: flex;
    justify-content: space-between;
    border: 3px dashed black;
    font-size: 20px;
}
h1 {
    text-align: center;
}
.Common {
    color: grey;
    text-align: center;
}
.Rare {
    color: rgb(0, 18, 217);
    text-align: center;
}
.Epic {
    color: purple;
    text-align: center;
}
.Legendary {
    color: yellow;
    text-align: center;
}
.Mythic {
    color: red;
    text-align: center;
}
.BrainrotGod {
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
.Secret {
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(212, 212, 212, 1) 100%);
}
.OG {
    background: #245c10;
    background: linear-gradient(90deg, rgba(36, 92, 16, 1) 0%, rgba(143, 129, 0, 1) 100%);
}
.CommonBrainrot {
    color: grey;
}
.RareBrainrot {
    color: rgb(0, 18, 217)
}
.EpicBrainrot {
    color: purple;
}
.LegendaryBrainrot {
    color: yellow;
}
.MythicBrainrot {
    color: red;
}
.BrainrotGodBrainrot {
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
.SecretBrainrot {
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(212, 212, 212, 1) 100%);
}
.OGBrainrot {
    background: #245c10;
    background: linear-gradient(90deg, rgba(36, 92, 16, 1) 0%, rgba(143, 129, 0, 1) 100%);
}
.image1{ 
    display: flex;
    justify-content: center;
}
.Bronze {
    color: rgb(129, 45, 19);
    text-align: center;
}
.Silver {
    color: rgb(134, 134, 134);
    text-align: center;
}
.Gold {
    color: rgb(182, 166, 24);
    text-align: center;
}
.imagepipikiwi {
    margin-left: 600px; /* Змінюй це число: 100px, 200px тощо, щоб посунути далі */
}
p {
    background-color: white;
    border-radius: 25px;
    font-size: 40px;
}
.buttons a {
    color: black;
    text-decoration: none;
}
